<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="#">CLASSES</a>
						<a href="#">HIRE US</a>
						<img src="#" alt="logo">
						<button>Donate</button>
					</li>
				</ul>
				
			</nav>
			
		</header>

		<section class="first">
			<h1>WHERE GRIT MEETS OPPOTUNITY</h1>
			<h2>At Level Ground(LG),urban youth cultivate grit and resilience through Mixed Material Arts. They learn to apply these values 'off the mat' in the pursuit of their ambitions through our Student Trainer Certification and College Access programs.</h2>
			<img src="#" alt="play">
			<a href="">Watch the Video</a>
			<span>Big Background Image</span>
		</section>


		<section>
			<h2>WHY</h2>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus impedit exercitationem optio nisi. Sequi, eligendi. Aliquam labore cupiditate illum sunt accusamus. Consectetur doloribus natus rerum eos quas reiciendis incidunt accusamus.</p>
		</section>

		<section>
			<section>
				<img src="#" alt="">
				<h3>VISIT THE GYM</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, autem deleniti aliquid harum consequuntur blanditiis! Iure dolorum ullam facere labore, mollitia ut alias commodi cumque vero, rem vel perspiciatis sit.</p>
				<button>SEE CLASSES</button>
			</section>

			<section>
				<img src="#" alt="">
				<h3>HAVE US VISIT YOU</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, autem deleniti aliquid harum consequuntur blanditiis! Iure dolorum ullam facere labore, mollitia ut alias commodi cumque vero, rem vel perspiciatis sit.</p>
				<button>HIRE US</button>
			</section>	
		</section>

		<section>
			<h3>VOLUNTEER WITH LEVEL GROUND</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt tempora illum natus, ipsa cum iste dolores quas sint praesentium expedita hic reiciendis. Illum ullam nobis aliquam iste omnis, iusto quo?</p>
			<button>VOLUNTEER</button>
		</section>

		<section>
			<nav>
				<img src="#" alt="facebook">
				<img src="#" alt="twitter">
				<img src="#" alt="mail">
				<ul>
					
					<span>SITE MAP</span>
					<li><a href="#">Classes</a></li>
					<li><a href="#">Hire Us</a></li>
					<span>CONTRIBUTE</span>
					<li><a href="#">Give</a></li>
					<li><a href="#">Volunteer</a></li>
				</ul>
			</nav>

			<section>
				<h5>LEVEL GROUND MIXED MATERIAL ARTS</h5>
				<span>50 Milk Street, Floor 17</span>
				<span>Boston,MA,02109</span>
				<span>410-533-2210</span>
				<h6>Ali@LevelGroundMMA.org</h6>
			</section>
		</section>

		<footer>
			<span>Level Ground Mixed Material Arts is a tax-exempt,501(c)3 organization under the IRS. EIN 46-3915852</span>
			<img src="#" alt="logo">
		</footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
